* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: ghostwhite;
}

.but {
  padding: 10px 20px;
  background-color: aliceblue;
  border: 1px solid grey;
  border-radius: 20px;
}

.nava {
  background-color: darkcyan;
  padding: 10px;
}

.navbar-brand {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.main {
  border-radius: 20px;
  margin: 20px;
  padding-bottom: 50px;
}

.image {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
}

.mealcard {
  margin-bottom: 30px;
}

.meal-content img {
  border-radius: 10px;
}
